:root {
  --swiper-theme-color: #242d49 !important;
}
.Projects {
  background-color: var(--main-color);
  padding-bottom: 50px;
}

.Projects .container {
  padding-top: 50px;
  padding-bottom: 160px;
  gap: 40px;
}

.Projects .container .box-container1 {
  padding-top: 30px;
}

.Projects .container .box-container2 {
  padding-top: 147px;
}
.Projects .container .box-container3 {
  padding-top: 0px;
}
.Projects .container h1 {
  font-size: 70px;
  position: relative;
  margin: 0px;
  padding: 50px 0px;
}

.Projects .container .box-container1 h1::after {
  content: "Projects";
  position: absolute;
  font-size: 20px;
  color: var(--sec-color);
  left: -38px;
  top: -21px;
  transform: rotate(-25deg);
}

.projects-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 10px;
}

.arrowright {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  margin-left: 20px;
}

.arrowleft {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  margin-right: 20px;
}
.swiper {
  overflow: visible !important;
  overflow-x: hidden !important;
}

@media (max-width: 768px) {
  .Projects .container .box-container2 {
    padding-top: 30px;
  }
  .Projects .container .box-container3 {
    padding-top: 30px;
  }

  .Projects .container {
    gap: 00px;
    padding-top: 0px;
  }
  .Projects .container .box-container1 h1 {
    font-size: 55px;
  }

  .Projects .container .box-container1 h1::after {
    left: -11px;
    top: -28px;
  }

  .arrow {
    padding: 4px;
  }

  .Projects .container h1 {
    font-size: 60px;
  }
}
@media (min-width: 1450px) {
  .Projects .container {
    width: 1500px !important;
  }
}
