:root {
  --yellow: #f5c32c;
  --orange: #fca61f;

  --gray: #788097;
  --blueCard: #ddf8fe;
  --purple: rgb(238 210 255);
  --boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);
  --orangeCard: rgba(252, 166, 31, 0.45);
  --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
  --main-color: #f8dc67;
  --black: #242d49;
  --white: #fefefe;
  --sec-color: #8973ee;

  --night: rgb(26, 26, 26);
}

.App {
  overflow: hidden;
  color: var(--black);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  scrollbar-width: none;
}

a {
  text-decoration: none;
  color: var(--black);
}

.zigzag {
  background-image: repeating-linear-gradient(
      -45deg,
      #000,
      #000 1px,
      transparent 0,
      transparent 68px
    ),
    repeating-linear-gradient(
      45deg,
      #000,
      #000 1px,
      transparent 0,
      transparent 68px
    ),
    repeating-linear-gradient(
      -45deg,
      #000,
      #000 1px,
      transparent 0,
      transparent 69px
    ),
    repeating-linear-gradient(
      45deg,
      #000,
      #000 1px,
      transparent 0,
      transparent 69px
    );
  background-position: 0 101%, 0 101%, 0 0, 0 0;
  background-size: 93px 50px, 93px 50px, 100px 50px, 100px 50px;
  background-repeat: repeat-x;
  animation: 2s infinite normal e;
  animation-timing-function: linear;
  padding-top: 100px !important;
  margin-bottom: 55px !important;
  min-height: calc(100dvh - 55px) !important;
}

@media (max-width: 768px) {
  .zigzag {
    background-image: repeating-linear-gradient(
        -45deg,
        #000,
        #000 1px,
        transparent 0,
        transparent 20px
      ),
      repeating-linear-gradient(
        45deg,
        #000,
        #000 1px,
        transparent 0,
        transparent 20px
      ),
      repeating-linear-gradient(
        -45deg,
        #000,
        #000 1px,
        transparent 0,
        transparent 20px
      ),
      repeating-linear-gradient(
        45deg,
        #000,
        #000 1px,
        transparent 0,
        transparent 20px
      );
    background-position: 0 100%, 0 100%, 0 0, 0 0;
    background-size: 29px 14px, 29px 14px, 29px 29px, 29px 29px;
    animation: 2s infinite normal e;
    animation-timing-function: linear;
    padding-top: 10px !important;
    margin-bottom: 0px !important;
  }
}
@keyframes e {
  0% {
    background-position: 0 101%, 0 101%, 0 0, 0 0;
  }

  100% {
    background-position: 93px 101%, 93px 101%, 100px 0, 100px 0;
  }
}

@keyframes g {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 29px;
  }
}
